* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 39, 54);
}

.box_rgt{   
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;    
    justify-content: center;
}

.cadastro{
    background-color: rgba(127, 204, 214, 0.849);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#bnt_rgt{
    height: 38px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    background-color: azure;
    cursor: pointer;
}

#bnt_rgt:active{
    background-color: rgb(159, 180, 180);
}


#name, #email, #pass, #conf{
    height: 35px;
    width: 300px;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 10px ;
    margin-top: 2px;
}

.h1{
    font-size: 30px;
    padding: 20px;
}

.h1_log{
    font-size: 30px;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: rgb(37, 89, 156);
    
}

a:hover{
    text-decoration: underline;

}

.h1_rec{
    font-size: 30px;
    margin-bottom: 50px;
}

.rec_cadastro{
    background-color: rgba(127, 204, 214, 0.849);
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#email_rec{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 10px ;
    margin-top: 2px;
}

#code_rec{ 
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 10px ;
    margin-top: 2px;
}

#rec_bnt, #vrf_code, #rgt{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

#nw_pass, #cnw_pass{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 10px ;
    margin-top: 2px;
}